.btn-primary {
  @include button(white, $clr-green, none);
}

.btn-og {
  @include button(white, $button-color, none);
}

.btn-action {
  @include button(white, $clr-pink-light-gradient, none);
}

.btn-secondary {
  @include button($clr-green, none, 2px solid $clr-green);
}

.btn-white {
  @include button(white, #19162380, 2px solid white);
}

.btn-warning {
  @include button($error-color, none, 2px solid $error-color);
}

.app-btn {
  @include button(white, $clr-pink-light-gradient, none);
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
}

#banner {
  @include banner(white, $bg-primary-color);
}

#page {
  background: $bg-primary-color;
}
