@import "~@openfonts/inter_all/index.css";

@font-face {
  font-family: 'Glacial Indifference';
  src: url('assets/fonts/GlacialIndifference-Regular.otf') format('otf');
  font-weight: medium;
  font-style: normal;
}
