@import "~@openfonts/inter_all/index.css";

@font-face {
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: normal;
  src: url('~@/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: bold;
  src: url('~@/assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

