.light-theme {
  background-color: $clr-white;
  color: $clr-black;

  /* landing page */
  .btn-action {
    @include button(white, $clr-purple, none);
  }

  .btn-white {
    @include button($clr-black, white, 2px solid white);
  }

  .btn-primary {
    @include button(white, $clr-green-secondary, none);
  }

  .btn-secondary {
    @include button($clr-black, $clr-light-green, none);
  }

  .app-btn {
    @include button(white, $clr-purple, none);
  }

  .apply-callout {
    background: transparent !important;
    color: $clr-black;
    border: none !important;
  }

  #hero {
    background: $clr-white;
    color: $clr-black;
  }

  #banner {
    @include banner($clr-black, $clr-white);
  }

  #page {
    background: $clr-white;
  }

  #section-how-it-works {
    background: $clr-white;

    #how-it-works-content {
      background: $clr-white;
      color: $clr-black;
      ol li::before {
        background: $clr-light-green;
        color: $clr-dark-gray;
        border-color: $clr-green-secondary;
      }
    }
  }

  #what-you-will-need {
    .btn-action {
      @include button(white, $clr-green-secondary, none);
    }
    .pre-req {
      background: $clr-light-pink;
    }

    #bright-id.pre-req {
      background: $clr-light-green;
    }

    #bright-id-icon {
      background: $clr-light-green;
    }
  }

  #about-1,
  #about-2,
  #about-3 {
    background: $clr-white;
    padding: 0 $content-space;
  }

  #about-section {
    a {
      color: $clr-green-secondary;
    }
    padding: 0 4rem;
  }

  /* projects */
  #content-container,
  .back,
  .round-info-item,
  .round-info-sub-item,
  .empty-search {
    background: $clr-white;
    color: $clr-black;

    #sidebar {
      background: $clr-white;
    }
  }

  #content-container {
    .content,
    .hero {
      background: transparent;
    }
  }

  .image-wrapper {
    background: $clr-light-pink;
  }

  .category-filter {
    .selector-wrapper {
      .category-btn {
        background: $clr-white;
        &:hover {
          background: $clr-light-pink;
        }
      }
      .category-btn-selected {
        background: $clr-light-pink;
      }
    }
  }

  .round-info-title,
  .message {
    color: $clr-black;
  }

  .round-info-value {
    .value {
      color: $clr-black;
    }

    .unit {
      color: $clr-black;
    }
  }

  .round-value-info-item {
    background: $clr-white;
    color: $clr-black;

    .unit {
      color: $clr-black;
    }
  }

  .round-info {
    .has-tooltip {
      filter: invert(0.6);
    }
    .verified {
      filter: invert(0.3);
      color: $clr-white;
    }
  }

  .category-filter {
    .filter-btn {
      border: none;
    }
  }

  .get-prepared {
    background: $clr-white;
    border: none;
  }

  .project-item {
    background: $clr-white;
  }

  .tag {
    background: $clr-purple;
    color: $clr-black;
  }

  .more-btn {
    background: $clr-purple;
    &:hover {
      opacity: 0.8;
      background: $clr-purple;
    }
  }

  .project-info,
  .project-description {
    color: $clr-black;
  }

  .project-name {
    * {
      color: $clr-black;
    }
  }

  .title {
    .project-search {
      background: $clr-white;

      input {
        color: $clr-black;
      }
    }
  }

  // project profile
  .project-page {
    #team,
    .about > .address-box {
      background: $clr-white;
    }

    .about {
      .project-section {
        color: $clr-black;
      }
    }

    .project-profile {
      color: $clr-black;
    }

    .copy-div {
      .project-profile {
        background: $button-color;

        &:hover {
          background-color: $bg-light-color;
        }
      }

      .explorerLink {
        .icon {
          background: $button-color;
        }
      }
    }
  }

  .sticky-column {
    .link-box {
      background: $clr-white;
    }
  }

  // add project criteria modal
  #criteria-modal {
    .container {
      background: $clr-white;
    }

    .content {
      background: $clr-purple;
      color: $clr-white;
    }
  }

  // join the round
  #join-the-round {
    .application,
    .form-background {
      background: $clr-white;
    }

    .form-background {
      input[type='text'],
      textarea,
      label,
      .input {
        background: $clr-white;
        color: $clr-black;
      }
    }

    .progress-container {
      background: $clr-white;

      .progress-step {
        img {
          filter: invert(0.4);
        }
        p {
          color: $clr-black;
        }
      }
    }

    #category-radio {
      input[type='radio']:checked + label {
        background: $clr-pink;
        color: $clr-white;
      }
      .radio-btn {
        &:hover {
          background: $clr-pink;
          color: $clr-white;
        }
        &:active {
          background: $clr-pink;
          color: $clr-white;
        }
      }
    }

    .recipient-submission-widget {
      background-color: $clr-white;
      border: none;
    }
  }

  #join-landing {
    .gradient {
      background: transparent;
    }
  }
}
