.light-theme {
  background-color: $clr-white;
  color: $clr-black;

  /* landing page */
  .btn-action {
    @include button(white, $clr-purple, none);
  }

  .btn-white {
    @include button($clr-black, white, 2px solid white);
  }

  .btn-primary {
    @include button(white, $clr-green-secondary, none);
  }

  .btn-secondary {
    @include button($clr-black, $clr-light-green, none);
  }

  .app-btn {
    @include button(white, $clr-purple, none);
    padding: 0.25rem 1.25rem;
    border-radius: 1rem;
  }

  .donate-btn-full {
    background: $clr-purple;
    &:hover {
      background: $clr-purple;
      opacity: 0.8;
    }
  }

  #hero {
    background: $clr-white;
    color: $clr-black;

    .apply-callout {
      background: $clr-white;
      border: $clr-purple 2px solid;
    }
  }

  #banner {
    @include banner($clr-black, $clr-white);
  }

  #section-how-it-works {
    background: $clr-white;

    #how-it-works-content {
      background: $clr-white;
      color: $clr-black;
      ol li::before {
        background: $clr-light-green;
        color: $clr-dark-gray;
        border-color: $clr-green-secondary;
      }
    }
  }

  #what-you-will-need {
    .btn-action {
      @include button(white, $clr-green-secondary, none);
    }

    .pre-req {
      background: $clr-light-pink;
    }

    #bright-id.pre-req {
      background: $clr-light-green;
    }

    #bright-id-icon {
      background: $clr-light-green;
    }
  }

  #about-1,
  #about-2,
  #about-3 {
    background: $clr-white;
    padding: 0 $content-space;
  }

  #about-section {
    a {
      color: $clr-green-secondary;
    }
    padding: 0 4rem;
  }

  /* projects */
  #content-container,
  .back,
  .round-info-item,
  .round-info-sub-item,
  .empty-search {
    background: $clr-white;
    color: $clr-black;

    #sidebar {
      background: $clr-white;
    }
  }

  .bright-id-widget-container {
    background-color: inherit;
    .setup-container {
      background-color: inherit;
    }
  }

  #content-container {
    .content,
    .hero {
      background: transparent;
    }
  }

  // used in transaction success, round information and landing
  .image-wrapper {
    background: $clr-light-pink;
  }

  .category-filter {
    .selector-wrapper {
      border-color: $clr-light-gray;
      .category-btn {
        background: $clr-white;
        &:hover {
          background: $clr-light-pink;
        }
      }
      .category-btn-selected {
        background: $clr-light-pink;
      }
    }
  }

  .round-info-title,
  .message {
    color: $clr-black;
  }

  .round-info-value {
    .value,
    .unit {
      color: $clr-black;
    }
  }

  .round-value-info-item {
    background: $clr-white;
    color: $clr-black;

    .unit {
      color: $clr-black;
    }
  }

  .round-info {
    .verified {
      filter: invert(0.3);
      color: $clr-white;
    }
  }

  .category-filter {
    .filter-btn {
      border: 1px solid $clr-light-gray;
      img {
        filter: invert(0.3);
      }
    }
  }

  .get-prepared {
    background: $clr-white;
    border: none;
  }

  .project-item {
    background: $clr-white;
  }

  .tag {
    background: $clr-purple;
    color: $clr-black;
  }

  .more-btn {
    background: $clr-purple;
    &:hover {
      opacity: 0.8;
      background: $clr-purple;
    }
  }

  .project-info,
  .project-description {
    color: $clr-black;
  }

  .project-name {
    color: $clr-black;

    * {
      color: $clr-black;
    }
  }

  .title {
    .project-search {
      background: $clr-white;

      input {
        color: $clr-black;
      }
    }
  }

  // project profile (i.e. /project/:id)
  .project-page {
    #team,
    .about > .address-box {
      background: $clr-white;
    }

    .about {
      .project-section {
        color: $clr-black;
      }

      .address-box-no-team {
        @include borderColor($clr-light-gray);
      }
    }

    .project-profile {
      color: $clr-black;
    }

    .copy-div {
      .project-profile {
        background: $button-color;

        &:hover {
          background-color: $bg-light-color;
        }
      }

      .explorerLink {
        .icon {
          background: $button-color;
        }
      }
    }
  }

  .sticky-column {
    .link-box {
      background: $clr-white;
    }
  }

  // add project criteria modal
  #criteria-modal {
    .container {
      background: $clr-white;
    }

    .content {
      background: $clr-purple;
      color: $clr-white;
    }
  }

  // join the round
  #join-the-round {
    .application,
    .form-background {
      background: $clr-white;
    }

    .form-background {
      input[type='text'],
      textarea,
      label,
      .input {
        background: $clr-white;
        color: $clr-black;
      }
    }

    .progress-container {
      background: $clr-white;

      .progress-step {
        img {
          filter: invert(0.4);
        }
        p {
          color: $clr-black;
        }
      }
    }

    #category-radio {
      input[type='radio']:checked + label {
        background: $clr-pink;
        color: $clr-white;
      }
      .radio-btn {
        &:hover {
          background: $clr-pink;
          color: $clr-white;
        }
        &:active {
          background: $clr-pink;
          color: $clr-white;
        }
      }
    }

    .recipient-submission-widget {
      background-color: $clr-white;
      border-color: $clr-light-gray;
    }

    .shine {
      background: inherit;
      background-image: none;
    }

    .info {
      background-color: inherit;
    }

    .link-box,
    .address-box-no-team {
      @include borderColor($clr-light-gray);
    }
  }

  #join-landing {
    .apply-callout {
      background: transparent;
      color: $clr-black;
      border: none;
    }
  }

  // rounds
  .rounds {
    .round {
      background: $clr-white;
      border-color: $clr-light-gray;

      a {
        color: $clr-black;
      }
    }
  }

  // recipients
  .recipients {
    .requests {
      background-color: $clr-white;
      border: none;

      thead {
        background-color: $clr-light-gray;
      }

      tr {
        &:nth-child(2n) {
          background-color: $clr-light-gray;
        }
      }
    }
  }

  // cart
  .empty-cart {
    div {
      color: $clr-black;
    }
  }

  .cart-btn,
  .toggle-btn {
    background: inherit;
    border: 1px solid $clr-light-gray;
    img {
      filter: invert(0.3);
    }
  }

  .cart-btn:hover,
  .toggle-btn:hover,
  .submit-btn-wrapper,
  .cart-item,
  .line-item-bar {
    background: inherit;
  }

  .submit-btn-wrapper {
    .error-title {
      color: $highlight-color;
    }
  }

  #cart-dropdown {
    background: $clr-white;
    .dropdown-item {
      color: $clr-black;
      img {
        filter: invert(0.3);
      }

      &:hover {
        background: $clr-light-gray;
      }
    }
  }

  .dropdown-btn {
    filter: invert(0.9);
  }

  .semi-bold {
    button {
      color: inherit;
    }
  }

  .project {
    .project-name {
      color: $clr-black;
    }
  }

  .remove-cart-item {
    .remove-icon-background {
      &:hover {
        background: inherit;
      }
    }
  }

  // wallet widget
  .wallet-widget {
    .profile-info {
      color: $clr-white;
    }

    .wrapper {
      .container {
        background-color: $clr-white;
        .balances-card {
          background-color: inherit;
        }

        .address-card {
          background: inherit;
        }

        .unverified {
          color: $error-color;
        }
      }
    }
  }

  .warning-message {
    background-color: $clr-white;
  }

  .warning {
    color: $error-color;
    border: 1px solid $clr-light-gray;
    background-color: inherit;
  }

  .warning-text,
  .warning-icon {
    color: $error-color;
  }

  .total-title {
    background-color: inherit;
    color: inherit;
  }

  .disconnect.btn,
  .close-btn {
    filter: invert(0.3);
  }

  .copy.profile {
    filter: invert(0.6);
  }

  // join and verify form
  .form-area {
    .application {
      background-color: $clr-white;
    }
  }

  // verify
  // need to use gradient to make the moon background blend in with
  // the parent's background
  .gradient {
    background: linear-gradient(315deg, #f2f2f2 0%, #f2f2f2 100%);
  }

  .join-message {
    background: $clr-white;
    border: 1px solid $highlight-color;
    color: $highlight-color;
  }

  // loader
  .loader:after {
    border-color: $clr-dark-gray transparent $clr-dark-gray transparent;
  }

  // progress widget
  .progress-area.desktop,
  .progress-area.mobile {
    .progress-container {
      .progress-step {
        .step {
          color: $clr-black;
        }
      }
    }
  }

  img.current-step,
  img.remaining-step {
    filter: invert(0.3);
  }

  .has-tooltip {
    filter: invert(0.3);
  }

  .collapsed-cart {
    background-color: inherit;
  }

  .hash {
    color: inherit;
  }

  .copy {
    background-color: inherit;
    border: $clr-light-gray 1px solid;
  }

  // transaction success
  .contributed-header {
    color: inherit;
  }

  .contributed-button {
    background: $clr-purple;
  }

  .contributed-button:hover {
    opacity: 0.8;
    background: $clr-purple;
  }
}
