@import "./vars";

.btn-primary,
.btn-og,
.btn-action,
.btn-secondary,
.btn-alternate,
.btn-mini,
.btn-app,
.btn-white {
  display: grid;
  place-items: center;
  padding: 0.5rem 1.5rem;
/*   height: 32px; */
  border-radius: 32px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  &:hover {
    opacity: 0.8;
    transform: scale(1.01);
    cursor: pointer;
  }
}

.btn-primary {
  background: $clr-green;
}

.btn-og {
  background: $button-color;
}

.btn-app,
.btn-action {
  background: $clr-pink-light-gradient;
}

.btn-app {
  height: 1.5rem;
}

.btn-secondary {
  border: 2px solid $clr-green;
  color: $clr-green;
}

.btn-white {
  border: 2px solid white;
  color: white;
  background: #FFF2;
}