@import "./vars";

@mixin button($color, $background, $border) {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  color: $color;
  background: $background;
  border: $border;
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
    cursor: pointer;
  }
}

.btn-primary {
  @include button(white, $clr-green, 2px solid $clr-green);
}

.btn-og {
  @include button(white, $button-color, none);
}

.btn-action {
  @include button(white, $clr-pink-light-gradient, none);
}
f
.btn-secondary {
  @include button($clr-green, none, 2px solid $clr-green);
}

.etherscan-btn {
  @include button($bg-primary-color, #fff, 1px solid $bg-light-color);
  box-shadow: $box-shadow;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.btn-white {
  @include button(white, #19162380, 2px solid white);
}

.btn-warning {
  @include button($error-color, none, 2px solid $error-color);
}

// app button for use in nav bar
.app-btn {
  @include button(white, $clr-pink-light-gradient, none);
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
}

.dropdown-btn {
  @include button(white, $bg-light-color, 1px solid rgba(115,117,166,0.3));
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  display: flex;
}
