@import './vars';

@mixin disabledAttribute() {
  &[disabled],
  &[disabled]:hover {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
  }
}

@mixin button($color, $background, $border) {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  max-height: 2.75rem;
  text-align: center;
  color: $color;
  background: $background;
  border: $border;
  white-space: nowrap;
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
    cursor: pointer;
  }
  @include disabledAttribute;
}

.btn-primary {
  @include button(white, $clr-green, none);
}

.btn-og {
  @include button(white, $button-color, none);
}

.btn-action {
  @include button(white, $clr-pink-light-gradient, none);
}

.btn-secondary {
  @include button($clr-green, none, 2px solid $clr-green);
}

.etherscan-btn {
  @include button(
    white,
    $clr-pink-light-gradient-inactive,
    1px solid $bg-light-color
  );
  box-shadow: $box-shadow;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    opacity: 1;
    transform: scale(1);
    cursor: default;
  }
}

.btn-white {
  @include button(white, #19162380, 2px solid white);
}

.btn-warning {
  @include button($error-color, none, 2px solid $error-color);
}

.app-btn {
  @include button(white, $clr-pink-light-gradient, none);
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
}

.dropdown-btn {
  @include button(white, $bg-light-color, 1px solid rgba(115, 117, 166, 0.3));
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  display: flex;
}

.warning-text {
  font-size: 12px;
  font-family: Inter;
  line-height: 150%;
  color: $warning-color;
  text-transform: uppercase;
  font-weight: 500;
}

.button-loader {
  margin: 0.25rem;
  padding: 0;
  width: 1rem;
  height: 1rem;
}

.button-loader:after {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
}

@mixin icon($bg, $bg-hover) {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.25rem;
  cursor: pointer;
  background: $bg;
  &:hover {
    background: $bg-hover;
  }
}

.tag {
  font-family: 'Glacial Indifference', sans-serif;
  padding: 0.5rem 0.75rem;
  background: $bg-light-color;
  color: $button-disabled-text-color;
  width: fit-content;
  border-radius: 4px;
}

.token-icon {
  margin-left: 0.5rem;
}

.big-emoji {
  font-size: 4rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.about {
  padding-bottom: 4rem;

  .content-heading {
    border-bottom: $border;
  }

  h2 {
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -0.015em;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }

  li {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
  }
}

.divider {
  margin: 3rem 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: $clr-pink-dark-gradient-bg;
}
