@import './vars';
@import './mixins';

.btn-template {
  @include button(white, transparent, none);
}

.btn-primary {
  @include button(white, var(--bg-btn-primary), none);
}

.btn-secondary-new {
  @include button($clr-dark, $clr-light-violet, none);
}

.btn-link {
  @include button(white, $clr-dark-violet, none);
}

.btn-secondary {
  @include button(
    var(--color-btn-secondary),
    var(--bg-btn-secondary),
    2px solid var(--border-btn-secondary)
  );
}

.btn-action {
  @include button(white, $clr-purple, none);
}

.btn-info {
  @include button(
    var(--text-color),
    var(--bg-primary-color),
    2px solid var(--loader-color)
  );
}

.btn-warning {
  @include button(#d54679, none, 2px solid #d54679);
}

.app-btn {
  @include button(white, $clr-purple, none);
  margin-left: 0.75rem;
}

#banner {
  @include banner(var(--text-color), var(--bg-primary-color));
}

.explorer-btn {
  @include button(white, $clr-purple, none);
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    opacity: 1;
    transform: scale(1);
    cursor: default;
  }
}

.navbar-btn,
.dropdown-btn {
  @include button(
    white,
    var(--bg-btn-navbar),
    1px solid var(--border-btn-navbar)
  );
  padding: 0.75rem;
  border-radius: 8px;
  display: flex;
  width: 40px;
  height: 40px;
}

#nav-bar {
  .app-btn {
    padding: 0.25rem 1.25rem;
  }
}

.warning-text {
  font-size: 12px;
  font-family: Inter;
  line-height: 150%;
  color: var(--attention-color);
  text-transform: uppercase;
  font-weight: 500;
}

.button-loader {
  margin: 0.25rem;
  padding: 0;
  width: 1rem;
  height: 1rem;
}

.button-loader:after {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0;
  border-radius: 50%;
  border: 2px solid var(--loader-color);
  border-color: var(--loader-color) transparent var(--loader-color) transparent;
}

.big-emoji {
  font-size: 4rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.about {
  padding-bottom: 4rem;

  .content-heading {
    border-bottom: 2px solid var(--border-color);
  }

  li {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
  }
}

.divider {
  margin: 3rem 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: var(--brand-tertiary);
}

/* Typography */

.text-base {
  font-family: 'Work Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.text-body {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.text-error {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.text-link {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: var(--link-color);
}

.subtitle {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.cart-time-value {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.02em;
}

.cart-time-unit {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

h2 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
}

h3 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.02em;
}

h4 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin: 0;
}
