$text-color: #f2f4f6;
$bg-primary-color: #281840;
$bg-secondary-color: #281840;
$bg-light-color: #231335;
$border-color: #6c757D;
$highlight-color: #6c757D;
$button-color: #FC5090;
$button-disabled-color: #56567a;
$button-disabled-text-color: #aaa9af;
$error-color: #BD6B5E;

$border: 2px solid $border-color;
$content-space: 30px;
$modal-space: 20px;

$nav-header-height-sm: 40px;
$profile-image-size: 50px;
