[data-theme='dark'] {
  color-scheme: dark;
  --text-color: #133629;
  --text-body: #ffffff;
  --text-secondary: #efe9da;
  // workaround for using css variables with sass mixins
  --text-color-rgb: 255, 255, 255;

  --brand-primary: #dd7143;
  --brand-secondary: #133629;
  --brand-tertiary: #efe9da;

  --error-color: #bd6b5e;
  --warning-color: rgb(253, 254, 106);
  --warning-background: var(--bg-secondary-color);
  --warning-border: var(--border-color);
  --attention-color: rgb(253, 254, 106);
  --link-color: #efe9da;
  --loader-color: #fff;

  --border-color: #efe9da;
  --border-strong: #000000;
  --border-highlight: #7375a6;

  --shadow-light-rgb: 196, 196, 196;
  --shadow-dark-rgb: 0, 0, 0;

  // no filter for dark mode, image specific filter for light mode
  --img-filter: none;

  --bg-primary-color: #3e6957;
  --bg-secondary-color: #133629;
  --bg-tertiary-color: #efe9da;
  --bg-light-color: #3e6957;

  // alternative background colors for light and dark modes
  --bg-secondary-highlight: #efe9da;
  --bg-secondary-accent: #211e2b;
  --bg-light-highlight: #efe9da;
  --bg-light-accent: #2c2938;

  --bg-transparent: rgba(25, 22, 35, 0.902);
  --bg-gradient: linear-gradient(87.3deg, #e5decb 3.58%, #c9bb9a 97.88%);
  --bg-gradient-hero: linear-gradient(
    286.78deg,
    rgba(173, 131, 218, 0) -32.78%,
    #191623 78.66%
  );
  --bg-address-box: linear-gradient(87.3deg, #133629 3.58%, #133629 97.88%);
  --bg-how-it-works: #3e6957;
  --bg-inactive: linear-gradient(
    109.01deg,
    rgba(151, 137, 196, 0.2) 6.45%,
    rgba(199, 42, 185, 0.2) 99.55%
  );
  --bg-circle: #2a2736;

  --button-secondary-color: #dd7143;
  --button-secondary-bg: none;
  --button-secondary-border: #dd7143;
  --button-action: #dd7143;

  --explorer-border: var(--text-color);
  --explorer-hover: var(--bg-light-color);

  --bright-id-bg: linear-gradient(
    109.01deg,
    rgba(37, 42, 119, 0.6) 6.45%,
    rgba(41, 36, 71, 0.6) 53.48%,
    rgba(44, 63, 69, 0.6) 99.55%
  );
  --bright-id-icon-bg: black;
  --box-shadow: 0px -4px 16px rgba(255, 255, 255, 0.05);
}
