# Ethereum Mainnet provider (used for ENS lookups)
VITE_ETHEREUM_MAINNET_API_URL=https://mainnet.infura.io/v3/be4ab600ccbc4855b230b7311db04c35

# Chain details where contract is deployed
VITE_ETHEREUM_API_URL=http://localhost:18545
VITE_ETHEREUM_API_CHAINID=31337
VITE_INFURA_ID=
VITE_IPFS_GATEWAY_URL=https://ipfs.io

# ipfs file upload and pinning url
VITE_IPFS_PINNING_URL=https://api.pinata.cloud/pinning/pinFileToIPFS
# pinata api JWT for api authorization. This key is only here for backward compatible
# it will be removed later as its value is too long and causes netlify functions deployment to fail
VITE_IPFS_PINNING_JWT=
# pinata api key and secret api key for uploading project images to ipfs
# The pinata api only need to set these keys or the VITE_IPFS_PINNING_JWT to authenticate
VITE_IPFS_API_KEY=
VITE_IPFS_SECRET_API_KEY=

VITE_SUBGRAPH_URL=http://localhost:8000/subgraphs/name/clrfund/clrfund

# Comma-separated list of URLs
VITE_GUN_PEERS=http://localhost:8765/gun

VITE_CLRFUND_FACTORY_ADDRESS=0x5FC8d32690cc91D4c39d9d3abcBD16989F875707

# Supported values: simple, brightid
VITE_USER_REGISTRY_TYPE=simple
# clr.fund (prod) or CLRFundTest (testing)
# Learn more about BrightID and context in /docs/brightid.md
VITE_BRIGHTID_CONTEXT=clrfund-goerli

# Optional matching pool address to override the funding round factory address
# e.g. if using a safe multisig for the matching pool
VITE_MATCHING_POOL_ADDRESS=

# Supported values: simple, optimistic, kleros
VITE_RECIPIENT_REGISTRY_TYPE=optimistic

VITE_RECIPIENT_REGISTRY_POLICY=QmeygKjvrpidJeFHv6ywjUrj718nwtFQgCCPPR4r5nL87R

# Comma-separated list of IPFS hashes
VITE_EXTRA_ROUNDS=

# Operator of clr.fund instance
VITE_OPERATOR=

# Index of first round to consider
VITE_FIRST_ROUND=

# Google Service Account credentials in JSON format
GOOGLE_APPLICATION_CREDENTIALS=
# Spreadsheet ID to send recipients data
VITE_GOOGLE_SPREADSHEET_ID=
# Select the sheet's name to write the data, by default 'Raw'
GOOGLE_SHEET_NAME=
