VUE_APP_ETHEREUM_API_URL=http://localhost:18545
VUE_APP_BLOCK_EXPLORER=https://etherscan.io/tx/
VUE_APP_IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
VUE_APP_CLRFUND_FACTORY_ADDRESS=0x1A1FEe7EeD918BD762173e4dc5EfDB8a78C924A8
VUE_APP_USER_REGISTRY_TYPE=simple
