VUE_APP_ETHEREUM_API_URL=http://localhost:18545
VUE_APP_BLOCK_EXPLORER=https://etherscan.io/tx/
VUE_APP_IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
VUE_APP_CLRFUND_FACTORY_ADDRESS=0x038B86d9d8FAFdd0a02ebd1A476432877b0107C8
