# Recipient registry type for local deployment: simple, optimistic
RECIPIENT_REGISTRY_TYPE=simple

# Supported values: simple, brightid
USER_REGISTRY_TYPE=simple
# clr.fund (prod) or CLRFundTest (testing)
BRIGHTID_CONTEXT=clr.fund
# BrightId node addr that signs verifications. Node One uses this one
BRIGHTID_VERIFIER_ADDR=0xb1d71F62bEe34E9Fc349234C201090c33BCdF6DB

RINKEBY_JSONRPC_HTTP_URL=https://eth-rinkeby.alchemyapi.io/v2/ADD_API_KEY
XDAI_JSONRPC_HTTP_URL=https://rpc.xdaichain.com
RINKARBY_JSONRPC_HTTP_URL=

WALLET_MNEMONIC=
WALLET_PRIVATE_KEY=

# Token address for funding round .setToken
NATIVE_TOKEN_ADDRESS=
